#pip install -r requirements.txt uploads everything below
#pip freeze > requirements.txt

pip install transformers torch flask
pip install flask-cors
pip install datasets
pip install flask flask_sqlalchemy flask_cors python-dotenv
pip install psycopg2-binary
pip install PyJWT
pip install flask-jwt-extended
pip install Flask-Migrate
#flask db init